//카드 화면 확대 css
.all{
  background-color: #F0F1EC;
}

#top {
  margin-top: 100px;
  margin-bottom: 0px;
  //border: 5px solid gray;

}

#grid{
  //border:5px solid pink;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#grid1{
  //border:5px solid orange;
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

#left{
  //border: 5px solid red;
}
#main{
  height:400px;
  //background-color: #F0F1EC;
  background-color: white;
  padding: 10px;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  width:300px;
  height:450px;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}
#displayimg{
  margin-left:25px;
  margin-top: 0px;
  border: 1px solid #F0F1EC;
  border-radius: 5px;
  width: 250px;
  height: 270px;

}
#right{
  //border: 5px solid blue;
}
#bottom{
  //border: 5px solid yellow;
  margin-bottom: 0px;
}

#completion {
  margin:0px 10px 0px 25px;
  background-color: #FEC627;
  border: 0px;
  border-radius: 5px;
  color:white;
  height: 40px;
  font-weight: bold;
}

#extension{
  margin:0px 25px 0px 10px;
  background-color: #FEC627;
  border: 0px;
  border-radius: 5px;
  color:white;
  height: 40px;
  font-weight: bold;
}

.deadline{
  margin-left:25px;
  margin-bottom:10px;
  margin-top:10px;
}
/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
